body{
    background-size: cover;
}
.heading{
    background-color:powderblue;
    width: 100%;
    color: deepskyblue;
}
.objSpan, .staSpan {
    background-color: deepskyblue !important;
    font-weight: bold;
}
canvas{
    border-radius: 30px;
    border: 7px solid powderblue;
    box-shadow: -10px 10px 10px powderblue ;
    margin-top: 50px;
}
.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color:deepskyblue;
}